@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --token-qhJdajVNZQTD: #030712;
  --plasmic-token-basic-text-primary: var(--token-qhJdajVNZQTD);
  --token-gGM9J0fbDHew: Inter;
  --plasmic-token-sans-serif: var(--token-gGM9J0fbDHew);
  --token-2uDdDoG8POOw: 1rem;
  --plasmic-token-font-md: var(--token-2uDdDoG8POOw);
  --token-NCUojO3iJ94P: 1.25;
  --plasmic-token-line-height-md: var(--token-NCUojO3iJ94P);
  --token-_J6tnXSGTVJH: 0.25rem;
  --plasmic-token-size-4: var(--token-_J6tnXSGTVJH);
  --token-VEEsu218IlH7: 0.5rem;
  --plasmic-token-size-8: var(--token-VEEsu218IlH7);
  --token-_u_JzwmsTKdU: 2rem;
  --plasmic-token-size-32: var(--token-_u_JzwmsTKdU);
  --token-etpqop8wgqC0: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-etpqop8wgqC0);
  --token-E4DjbhNEUVYe: 0.125rem;
  --plasmic-token-size-2: var(--token-E4DjbhNEUVYe);
  --token-rNdy-kjMxlLr: #2563eb;
  --plasmic-token-brand-brand: var(--token-rNdy-kjMxlLr);
  --token-gHp7nEpXR9-k: 1rem;
  --plasmic-token-size-16: var(--token-gHp7nEpXR9-k);
  --token-Qtv3R1xhdqHk: #ffffff;
  --plasmic-token-basic-container-background: var(--token-Qtv3R1xhdqHk);
  --token-9G0PvWU9v3h8: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-9G0PvWU9v3h8);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-3obczFt1qqqe_font-family: "Inter", sans-serif;
  --mixin-3obczFt1qqqe_font-size: 14px;
  --mixin-3obczFt1qqqe_font-weight: 400;
  --mixin-3obczFt1qqqe_font-style: normal;
  --mixin-3obczFt1qqqe_color: #535353;
  --mixin-3obczFt1qqqe_text-align: left;
  --mixin-3obczFt1qqqe_text-transform: none;
  --mixin-3obczFt1qqqe_line-height: 1.5;
  --mixin-3obczFt1qqqe_letter-spacing: normal;
  --mixin-3obczFt1qqqe_white-space: pre-wrap;
  --mixin-3obczFt1qqqe_user-select: text;
  --mixin-3obczFt1qqqe_text-decoration-line: none;
  --mixin-3obczFt1qqqe_text-overflow: clip;
  --mixin-HA8KMk91n9Z7_color: #000000;
  --mixin-HA8KMk91n9Z7_font-weight: 600;
  --mixin-HA8KMk91n9Z7_font-size: 40px;
  --mixin-HA8KMk91n9Z7_line-height: 1;
  --mixin-HA8KMk91n9Z7_letter-spacing: -1px;
  --mixin-HA8KMk91n9Z7_white-space: pre-wrap;
  --mixin-CvcL32VswDGl_color: #000000;
  --mixin-CvcL32VswDGl_font-size: 30px;
  --mixin-CvcL32VswDGl_font-weight: 600;
  --mixin-CvcL32VswDGl_line-height: 1.1;
  --mixin-CvcL32VswDGl_white-space: pre-wrap;
  --mixin-21UN9x_wKP9u_color: #0070f3;
  --mixin-21UN9x_wKP9u_white-space: pre-wrap;
  --mixin-o795bTsgdfs5_color: #000000;
  --mixin-o795bTsgdfs5_font-size: 24px;
  --mixin-o795bTsgdfs5_font-weight: 600;
  --mixin-o795bTsgdfs5_line-height: 1.2;
  --mixin-o795bTsgdfs5_white-space: pre-wrap;
  --mixin-u-u-sFpRS0n2_color: #000000;
  --mixin-u-u-sFpRS0n2_font-size: 20px;
  --mixin-u-u-sFpRS0n2_font-weight: 600;
  --mixin-u-u-sFpRS0n2_line-height: 1.3;
  --mixin-u-u-sFpRS0n2_white-space: pre-wrap;
  --mixin-1SLzT-L7QOdo_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-1SLzT-L7QOdo_border-bottom-color: #dddddd;
  --mixin-1SLzT-L7QOdo_border-bottom-style: solid;
  --mixin-1SLzT-L7QOdo_border-bottom-width: 1px;
  --mixin-1SLzT-L7QOdo_border-left-color: #dddddd;
  --mixin-1SLzT-L7QOdo_border-left-style: solid;
  --mixin-1SLzT-L7QOdo_border-left-width: 1px;
  --mixin-1SLzT-L7QOdo_border-right-color: #dddddd;
  --mixin-1SLzT-L7QOdo_border-right-style: solid;
  --mixin-1SLzT-L7QOdo_border-right-width: 1px;
  --mixin-1SLzT-L7QOdo_border-top-color: #dddddd;
  --mixin-1SLzT-L7QOdo_border-top-style: solid;
  --mixin-1SLzT-L7QOdo_border-top-width: 1px;
  --mixin-1SLzT-L7QOdo_border-bottom-left-radius: 3px;
  --mixin-1SLzT-L7QOdo_border-bottom-right-radius: 3px;
  --mixin-1SLzT-L7QOdo_border-top-left-radius: 3px;
  --mixin-1SLzT-L7QOdo_border-top-right-radius: 3px;
  --mixin-1SLzT-L7QOdo_font-family: "Inconsolata";
  --mixin-1SLzT-L7QOdo_padding-bottom: 1px;
  --mixin-1SLzT-L7QOdo_padding-left: 4px;
  --mixin-1SLzT-L7QOdo_padding-right: 4px;
  --mixin-1SLzT-L7QOdo_padding-top: 1px;
  --mixin-1SLzT-L7QOdo_white-space: pre-wrap;
  --mixin-UFT4voiai474_border-left-color: #dddddd;
  --mixin-UFT4voiai474_border-left-style: solid;
  --mixin-UFT4voiai474_border-left-width: 3px;
  --mixin-UFT4voiai474_color: #888888;
  --mixin-UFT4voiai474_padding-left: 10px;
  --mixin-UFT4voiai474_white-space: pre-wrap;
  --mixin-I42yn6YIrVUV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-I42yn6YIrVUV_border-bottom-color: #dddddd;
  --mixin-I42yn6YIrVUV_border-bottom-style: solid;
  --mixin-I42yn6YIrVUV_border-bottom-width: 1px;
  --mixin-I42yn6YIrVUV_border-left-color: #dddddd;
  --mixin-I42yn6YIrVUV_border-left-style: solid;
  --mixin-I42yn6YIrVUV_border-left-width: 1px;
  --mixin-I42yn6YIrVUV_border-right-color: #dddddd;
  --mixin-I42yn6YIrVUV_border-right-style: solid;
  --mixin-I42yn6YIrVUV_border-right-width: 1px;
  --mixin-I42yn6YIrVUV_border-top-color: #dddddd;
  --mixin-I42yn6YIrVUV_border-top-style: solid;
  --mixin-I42yn6YIrVUV_border-top-width: 1px;
  --mixin-I42yn6YIrVUV_border-bottom-left-radius: 3px;
  --mixin-I42yn6YIrVUV_border-bottom-right-radius: 3px;
  --mixin-I42yn6YIrVUV_border-top-left-radius: 3px;
  --mixin-I42yn6YIrVUV_border-top-right-radius: 3px;
  --mixin-I42yn6YIrVUV_font-family: "Inconsolata";
  --mixin-I42yn6YIrVUV_padding-bottom: 3px;
  --mixin-I42yn6YIrVUV_padding-left: 6px;
  --mixin-I42yn6YIrVUV_padding-right: 6px;
  --mixin-I42yn6YIrVUV_padding-top: 3px;
  --mixin-I42yn6YIrVUV_white-space: pre-wrap;
  --mixin-r2BMU6-Ybpb__display: flex;
  --mixin-r2BMU6-Ybpb__flex-direction: column;
  --mixin-r2BMU6-Ybpb__align-items: stretch;
  --mixin-r2BMU6-Ybpb__justify-content: flex-start;
  --mixin-r2BMU6-Ybpb__list-style-position: outside;
  --mixin-r2BMU6-Ybpb__padding-left: 40px;
  --mixin-r2BMU6-Ybpb__position: relative;
  --mixin-r2BMU6-Ybpb__list-style-type: disc;
  --mixin-r2BMU6-Ybpb__white-space: pre-wrap;
  --mixin-hhqFtERNQTRe_display: flex;
  --mixin-hhqFtERNQTRe_flex-direction: column;
  --mixin-hhqFtERNQTRe_align-items: stretch;
  --mixin-hhqFtERNQTRe_justify-content: flex-start;
  --mixin-hhqFtERNQTRe_list-style-position: outside;
  --mixin-hhqFtERNQTRe_padding-left: 40px;
  --mixin-hhqFtERNQTRe_position: relative;
  --mixin-hhqFtERNQTRe_list-style-type: decimal;
  --mixin-hhqFtERNQTRe_white-space: pre-wrap;
  --mixin-k1EMwfI4dIdx_color: #000000;
  --mixin-k1EMwfI4dIdx_font-size: 16px;
  --mixin-k1EMwfI4dIdx_font-weight: 600;
  --mixin-k1EMwfI4dIdx_line-height: 1.5;
  --mixin-k1EMwfI4dIdx_white-space: pre-wrap;
  --mixin-VDaZHflvOYeb_color: #000000;
  --mixin-VDaZHflvOYeb_font-size: 14px;
  --mixin-VDaZHflvOYeb_font-weight: 600;
  --mixin-VDaZHflvOYeb_line-height: 1.5;
  --mixin-VDaZHflvOYeb_white-space: pre-wrap;
  --mixin-OA_a88Rzy8uT_color: #3291ff;
  --mixin-OA_a88Rzy8uT_white-space: pre-wrap;
  --mixin-qVVzY6QQkUTc_white-space: pre-wrap;
  --mixin-zVN_Kwb474vG_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-3obczFt1qqqe_font-family);
  font-size: var(--mixin-3obczFt1qqqe_font-size);
  font-weight: var(--mixin-3obczFt1qqqe_font-weight);
  font-style: var(--mixin-3obczFt1qqqe_font-style);
  color: var(--mixin-3obczFt1qqqe_color);
  text-align: var(--mixin-3obczFt1qqqe_text-align);
  text-transform: var(--mixin-3obczFt1qqqe_text-transform);
  line-height: var(--mixin-3obczFt1qqqe_line-height);
  letter-spacing: var(--mixin-3obczFt1qqqe_letter-spacing);
  white-space: var(--mixin-3obczFt1qqqe_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-HA8KMk91n9Z7_color);
  font-weight: var(--mixin-HA8KMk91n9Z7_font-weight);
  font-size: var(--mixin-HA8KMk91n9Z7_font-size);
  line-height: var(--mixin-HA8KMk91n9Z7_line-height);
  letter-spacing: var(--mixin-HA8KMk91n9Z7_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-CvcL32VswDGl_color);
  font-size: var(--mixin-CvcL32VswDGl_font-size);
  font-weight: var(--mixin-CvcL32VswDGl_font-weight);
  line-height: var(--mixin-CvcL32VswDGl_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-21UN9x_wKP9u_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-o795bTsgdfs5_color);
  font-size: var(--mixin-o795bTsgdfs5_font-size);
  font-weight: var(--mixin-o795bTsgdfs5_font-weight);
  line-height: var(--mixin-o795bTsgdfs5_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-u-u-sFpRS0n2_color);
  font-size: var(--mixin-u-u-sFpRS0n2_font-size);
  font-weight: var(--mixin-u-u-sFpRS0n2_font-weight);
  line-height: var(--mixin-u-u-sFpRS0n2_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-1SLzT-L7QOdo_font-family);
  border-radius: var(--mixin-1SLzT-L7QOdo_border-top-left-radius)
    var(--mixin-1SLzT-L7QOdo_border-top-right-radius)
    var(--mixin-1SLzT-L7QOdo_border-bottom-right-radius)
    var(--mixin-1SLzT-L7QOdo_border-bottom-left-radius);
  padding: var(--mixin-1SLzT-L7QOdo_padding-top)
    var(--mixin-1SLzT-L7QOdo_padding-right)
    var(--mixin-1SLzT-L7QOdo_padding-bottom)
    var(--mixin-1SLzT-L7QOdo_padding-left);
  border-top: var(--mixin-1SLzT-L7QOdo_border-top-width)
    var(--mixin-1SLzT-L7QOdo_border-top-style)
    var(--mixin-1SLzT-L7QOdo_border-top-color);
  border-right: var(--mixin-1SLzT-L7QOdo_border-right-width)
    var(--mixin-1SLzT-L7QOdo_border-right-style)
    var(--mixin-1SLzT-L7QOdo_border-right-color);
  border-bottom: var(--mixin-1SLzT-L7QOdo_border-bottom-width)
    var(--mixin-1SLzT-L7QOdo_border-bottom-style)
    var(--mixin-1SLzT-L7QOdo_border-bottom-color);
  border-left: var(--mixin-1SLzT-L7QOdo_border-left-width)
    var(--mixin-1SLzT-L7QOdo_border-left-style)
    var(--mixin-1SLzT-L7QOdo_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-UFT4voiai474_color);
  padding-left: var(--mixin-UFT4voiai474_padding-left);
  border-left: var(--mixin-UFT4voiai474_border-left-width)
    var(--mixin-UFT4voiai474_border-left-style)
    var(--mixin-UFT4voiai474_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-I42yn6YIrVUV_font-family);
  border-radius: var(--mixin-I42yn6YIrVUV_border-top-left-radius)
    var(--mixin-I42yn6YIrVUV_border-top-right-radius)
    var(--mixin-I42yn6YIrVUV_border-bottom-right-radius)
    var(--mixin-I42yn6YIrVUV_border-bottom-left-radius);
  padding: var(--mixin-I42yn6YIrVUV_padding-top)
    var(--mixin-I42yn6YIrVUV_padding-right)
    var(--mixin-I42yn6YIrVUV_padding-bottom)
    var(--mixin-I42yn6YIrVUV_padding-left);
  border-top: var(--mixin-I42yn6YIrVUV_border-top-width)
    var(--mixin-I42yn6YIrVUV_border-top-style)
    var(--mixin-I42yn6YIrVUV_border-top-color);
  border-right: var(--mixin-I42yn6YIrVUV_border-right-width)
    var(--mixin-I42yn6YIrVUV_border-right-style)
    var(--mixin-I42yn6YIrVUV_border-right-color);
  border-bottom: var(--mixin-I42yn6YIrVUV_border-bottom-width)
    var(--mixin-I42yn6YIrVUV_border-bottom-style)
    var(--mixin-I42yn6YIrVUV_border-bottom-color);
  border-left: var(--mixin-I42yn6YIrVUV_border-left-width)
    var(--mixin-I42yn6YIrVUV_border-left-style)
    var(--mixin-I42yn6YIrVUV_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-r2BMU6-Ybpb__display);
  flex-direction: var(--mixin-r2BMU6-Ybpb__flex-direction);
  align-items: var(--mixin-r2BMU6-Ybpb__align-items);
  justify-content: var(--mixin-r2BMU6-Ybpb__justify-content);
  list-style-position: var(--mixin-r2BMU6-Ybpb__list-style-position);
  padding-left: var(--mixin-r2BMU6-Ybpb__padding-left);
  position: var(--mixin-r2BMU6-Ybpb__position);
  list-style-type: var(--mixin-r2BMU6-Ybpb__list-style-type);
  flex-column-gap: var(--mixin-r2BMU6-Ybpb__flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-hhqFtERNQTRe_display);
  flex-direction: var(--mixin-hhqFtERNQTRe_flex-direction);
  align-items: var(--mixin-hhqFtERNQTRe_align-items);
  justify-content: var(--mixin-hhqFtERNQTRe_justify-content);
  list-style-position: var(--mixin-hhqFtERNQTRe_list-style-position);
  padding-left: var(--mixin-hhqFtERNQTRe_padding-left);
  position: var(--mixin-hhqFtERNQTRe_position);
  list-style-type: var(--mixin-hhqFtERNQTRe_list-style-type);
  flex-column-gap: var(--mixin-hhqFtERNQTRe_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-k1EMwfI4dIdx_color);
  font-size: var(--mixin-k1EMwfI4dIdx_font-size);
  font-weight: var(--mixin-k1EMwfI4dIdx_font-weight);
  line-height: var(--mixin-k1EMwfI4dIdx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-VDaZHflvOYeb_color);
  font-size: var(--mixin-VDaZHflvOYeb_font-size);
  font-weight: var(--mixin-VDaZHflvOYeb_font-weight);
  line-height: var(--mixin-VDaZHflvOYeb_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-OA_a88Rzy8uT_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
